*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#0b0f19;
color:#fff;
overflow-x:hidden;
line-height:1.6;
}

a{
text-decoration:none;
color:white;
}

ul{
list-style:none;
}

.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(11,15,25,.75);
backdrop-filter:blur(16px);
z-index:1000;
}

.logo img{
height:65px;
transition:.4s;
}

.logo img:hover{
transform:scale(1.08);
}

.nav-links{
display:flex;
gap:35px;
}

.nav-links a{
font-weight:600;
transition:.3s;
}

.nav-links a:hover{
color:#00d4ff;
}

.menu-btn{
display:none;
font-size:28px;
cursor:pointer;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:120px 8%;
background:
linear-gradient(rgba(11,15,25,.75),rgba(11,15,25,.9)),
url("logo.png") center/250px no-repeat;
}

.hero-content{
max-width:850px;
}

.hero h1{
font-size:64px;
font-weight:800;
margin-bottom:20px;
}

.hero p{
font-size:22px;
color:#cfcfcf;
margin-bottom:40px;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.btn{
padding:16px 40px;
border-radius:50px;
font-weight:700;
transition:.35s;
display:inline-block;
}

.primary{
background:#00d4ff;
color:#000;
}

.primary:hover{
transform:translateY(-4px);
}

.secondary{
border:2px solid #00d4ff;
color:#00d4ff;
}

.secondary:hover{
background:#00d4ff;
color:#000;
}
